html {
  scroll-behavior: smooth;
}

:root{
    --background-color: #eeeff2;
     --primary-color: #ff6f61;
    --light-color:#f8f9fa;
    --dark-color:#212529;

}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
}
.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}

.navbar {

  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
    background: rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
}
.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
  font-weight: 500;
}
.navbar-brand {
  font-weight: 700;
  letter-spacing: 1px;
}


.navbar .nav-link:hover {
  color: rgb(245, 82, 142) !important;
  
}
h1, h2 {
  font-weight: 700;
}
section {
  animation: fadeUp 0.6s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero p {
  font-weight: 400;
  color: #555;
}
.hero h1,
.hero p {
  text-shadow: 0 2px 6px rgba(0,0,0,0.6);
}

.hero {
    position: relative;
  background-image: url(./Images/bg2.avif);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
   z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.hero * {
  position: relative;
  z-index: 1;
}
.hero h1 {
  font-size: 3rem;
  font-weight: 700;
   letter-spacing: 1px;
}
.hero p {
     color: #f1f1f1;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 300;
}
.hero-sub {
  font-size: 1rem;
  opacity: 0.9;
}

.hero .btn {
  padding: 12px 30px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: none;
  transition:all 0.2s ease ;
  -webkit-transition:all 0.2s ease ;
  -moz-transition:all 0.2s ease ;
  -ms-transition:all 0.2s ease ;
  -o-transition:all 0.2s ease ;
}

.hero .btn:hover{
  transform: scale(1.08);
  opacity: 0.95;
}

.projects-section{
    background-color: var(--background-color);
}


.card{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease ;
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
}
.card-img-top {
    width: 100%;        /* تمتد بعرض الكارد */
    height: 250px;      /* تحددي ارتفاع ثابت */
    object-fit: contain;  /* تقص الصورة بشكل مناسب دون تشويه */
}


.card:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.about-section{
    background-image: url(./Images/about.avif);
       background-repeat: no-repeat;
    background-size: cover;
     min-height: 80vh;
      display: flex;
    justify-content: center;

     align-items: center
}
/*.contact-section{
    background-color: var(--background-color)!important;

}*/
/*.contact-section {
  background-color: #f8f9fa !important;
}

.contact-section p ,a{ color: black !important;
   
}*/
.contact-section .container {
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-section a {
  color: rgb(245, 82, 142);
  text-decoration: none;
  font-weight: 500;
}

.contact-section a:hover {
  text-decoration: underline;
}
/*
.contact-section a{
 text-decoration: none;
}*/
.about-section .badge {
  border-radius: 20px;
  cursor: pointer;
}

.about-section .badge:hover {
  transform: translateY(-3px);
}
.footer-section{
color: rgb(245, 82, 142)!important;
}